/.vs
/.vscode
/Debug
/Release
*.pdb
*.exp
/build/
/develop
/dependencies/assimp
/dependencies/glm
/dependencies/imgui
/dependencies/imgui-filebrowser
/dependencies/sdl
/dependencies/stb
CMakeUserPresets.json
