[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm
	branch = master
[submodule "dependencies/sdl"]
	path = dependencies/sdl
	url = https://github.com/libsdl-org/SDL
	branch = main
[submodule "dependencies/assimp"]
	path = dependencies/assimp
	url = https://github.com/assimp/assimp
	branch = master
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
[submodule "dependencies/imgui-filebrowser"]
	path = dependencies/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser